#mensagem {
    -fx-background-color: mediumturquoise;
    -fx-padding: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
	-fx-background-radius: 10 10 10 10;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(one-pass-box, darkgrey, 4, 0.3, 1, 1);
    -fx-background-insets: 0,1;
}
#mensagem_direita{
	 -fx-background-color: azure ;
    -fx-padding: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
	-fx-background-radius: 10 10 10 10;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(one-pass-box, darkgrey, 4, 0.3, 1, 1);
    -fx-background-insets: 0,1;
}


#trianguloEsquerda {
	-fx-shape:"M 0, 0 L 1, 1 V -1 z";
	-fx-padding:  0 3 -1 10;
	-fx-background-color: mediumturquoise;
	-fx-effect: dropshadow(one-pass-box, darkgrey, 2, 0.2, 1, 1);
	-fx-background-insets: -1;

}

#trianguloDireita {
	-fx-shape:"M 0, 0 L -1, -1 V 1 z";
	-fx-padding:  0 10 -1 3;
	-fx-background-color: azure ;
	-fx-effect: dropshadow(one-pass-box, darkgrey, 2, 0.2, 1, 1);
	-fx-background-insets: -1;
}